# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Uploads
src/public/uploads/*
!src/public/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
